<html>
    <head>
        <title> <%= title %></title>
    </head>
    <body>
        <%- include('_header') %>
        
        <!-- variable part  -->
        <%- body %>


        <%- include('_footer') %>
    </body>
</html>