<h1>Sign IN</h1>

<form action="user/create-session" method="post">
    <input type="email" name="email" required placeholder="your email "/>
    <input type="password" name="password" id="password" required  placeholder="confirm password"/>
    <input type="submit" value="Sign in">
</form>