<h1>Sign up</h1>

<form action="/users/create" method="post">
    <input type="email" name="email" required placeholder="your email "/>
    <input type="text" name="name" id="name" required  placeholder="your name"/>
    <input type="password" name="password" id="password" required  placeholder="your password"/>
    <input type="password" placeholder="confirm password" name="confirm_password"/>
    <input type="submit" value="Sign up">
</form>