<html>
    <head>

    </head>
    <body>
        <h1>
            Playground
        </h1>
        <ul>
            <%for(let i = 0; i<10; i++) {%>
                <li>
                    <%= i %>
                </li>
                
                <% } %>
        </ul>
        <h2>
            <%= message %>
        </h2>
    </body>
</html>