<html>
  <head>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div>
      <form action="/add" method="post">
        <!-- <textarea name="description" id="desc">
            hello vikram        </textarea>-->

        <!-- working on checkbox  -->
        <!-- <label for="animal">lion<input type="checkbox" name="lion" value="lion" /></label>
         <label for="animal">tiger<input type="checkbox" name="tiger" value="tiger" /></label>
   -->

              <!-- <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
<label for="vehicle1"> I have a bike</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
<label for="vehicle2"> I have a car</label><br>
<input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
<label for="vehicle3"> I have a boat</label><br> -->


                <!-- redion button pratice  -->
                <input type="radio" id="html" name="fav_language" value="HTML">
<label for="html">HTML</label><br>
<input type="radio" id="css" name="fav_language" value="CSS">
<label for="css">CSS</label><br>
<input type="radio" id="javascript" name="fav_language" value="JavaScript">
<label for="javascript">JavaScript</label>
        <input type="submit" value="submit" />
      </form>
    </div>
  </body>
</html>
